*{
    margin: 0;
    padding: 0;
}

.div-gen{
    text-align: center;
}

.info-personal{
    width: 450px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

.info-esc{
    width: 450px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

.info-lab{
    width: 450px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

.info-ref{
    width: 450px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

.ref{
    
    display: inline-flex;
}

p{
    font-size: 30px;
    font-weight: 900;
    background-color: white;
    width: 350px;
    margin-top: -20px;
    margin-left: -60px;
    margin-bottom: 10px;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.campos{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-width: 3px;
}

.areas{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-width: 3px;
    width: 200px;
    height: 100px;
}

.botones{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
    width: 100px;
    border: none;
    font-weight: bolder;
    background-color: rgba(51, 51, 51, 0.850);
}

.botones:hover{
    background-color: rgba(51, 51, 51, 0.650);
}

@media (max-width: 980px){
    .info-personal{
        width: 460px;
        height: auto;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 2px solid rgba(0, 0, 0, 0.700);
    }
    
    .info-esc{
        width: 460px;
        height: auto;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 2px solid rgba(0, 0, 0, 0.700);
    }
    
    .info-lab{
        width: 460px;
        height: auto;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 2px solid rgba(0, 0, 0, 0.700);
    }
    
    .info-ref{
        width: 460px;
        height: auto;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 2px solid rgba(0, 0, 0, 0.700);
    }
}

#PintaDatos label{
    width: 50%;
    float: center;
  
  }
  
  /**   ESTRUCTURA  */
  #MuestraDatos {
      width: 960px;
      margin: 20px auto;
  }
  
  @media screen and (max-width: 980px) {
      
      #MuestraDatos {
          width: 94%;
      }
  
  }

  
  #profesionales label{
      width: 50%;
      float: left;
  }